<div class="header">
    <div class="header-nav">
        <div class="nav-logo">
            <a class="nav-link" href="#">
                <img src="https://fpt.com/-/media/project/fpt-corporation/fpt/common/images/navigation/logo/fpt-logo.svg" alt="">
            </a>
        </div>
        <ul class="nav-list">
            <li class="single-nav-list single-nav-list-introduction">
                <a class="nav-link" href="">{{'about'|translate}}</a>
                <div class="nav-introduction">
                    <ul class="nav-introduction-list">
                        <li class="introduction-list">Thông điệp chủ tịch HĐQT</li>
                        <li class="introduction-list">Thông điệp Tổng giám đốc</li>
                        <li class="introduction-list">Giá trị cốt lõi</li>
                        <li class="introduction-list">Lịch sử</li>
                        <li class="introduction-list">Tầm nhìn chiến lược</li>
                        <li class="introduction-list">Mạng lưới hoạt động</li>
                        <li class="introduction-list">Đội ngũ lãnh đạo</li>
                        <li class="introduction-list">Trách nhiệm xã hội</li>
                        <li class="introduction-list">Giải thưởng</li>
                        <li class="introduction-list">Đối tác và khách hàng</li>
                    </ul>
                </div>
            </li>
            <li class="single-nav-list single-nav-list-ecosystem">
                <a class="nav-link" href="">{{'info'|translate}}</a>
                <div class="nav-introduction">
                    <ul class="nav-introduction-list">
                        <li class="introduction-list">Công nghệ</li>
                        <li class="introduction-list">Viễn thông</li>
                        <li class="introduction-list">Giáo dục</li>
                        <li class="introduction-list">Công ty thành viên</li>
                    </ul>
                </div>
            </li>
            <li class="single-nav-list single-nav-list-invertor">
                <a class="nav-link" href="">{{'Investors'|translate}}</a>
                <div class="nav-introduction">
                    <ul class="nav-introduction-list">
                        <li class="introduction-list">Đại hội đồng cổ đông</li>
                        <li class="introduction-list">Công bố thông tin</li>
                        <li class="introduction-list">Báo cáo</li>
                        <li class="introduction-list">Thông tin cổ phiếu</li>
                        <li class="introduction-list">Quản trị công ty</li>
                    </ul>
                </div>
            </li>
            <li class="single-nav-list single-nav-list-noti">
                <a class="nav-link" href="">{{'news'|translate}}</a>
                <div class="nav-introduction">
                    <ul class="nav-introduction-list">
                        <li class="introduction-list">Tin FPT</li>
                        <li class="introduction-list">Thông cáo báo chí</li>
                    </ul>
                </div>
            </li>
            <li class="single-nav-list">
                <a class="nav-link" href="">{{'oppotunity'|translate}}</a>
            </li>
        </ul>
        <ul class="nav-connect">
            <li (click)="toogleTag1()" class="nav-link nav-link-search" class="nav-list" >
                <i class='nav-link-search bx bx-search'></i>
            </li>
            <div *ngIf="showMe" class="nav-connect-show">
                <div class="nav-connect-hidden" >
                    <i class='nav-link-search bx bx-search'></i>
                    <input class="input-search" type="text" placeholder="Nhập để tìm kiếm">
                </div>
            </div>
            <div class="change-lang">
                <i class='bx bx-world'></i>
                <select (change)="changelang($event)" class="nav-link-language2 nav-link nav-list " class="nav-list" name="" id="">
                    <option  value="vn" class="change-language">VI</option>
                    <option  value="en" class="change-language">ENG</option>
                </select>
            </div>
        </ul>
</div>
