.header{
    max-width: 1200px;
    height:76px;
    margin: 8px auto 0 ;
}
.header-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-link img{
    width:80px;
}
.nav-link {
    font-size:15px;
    text-decoration: none;
    height:60px;
}
.nav-list{
    display:flex;
    justify-content: space-between;
    list-style: none;
    position: relative;
}
.single-nav-list{
    position: relative;
}
.nav-list li a{
    line-height:60px;
    display:block;
    margin: 0 40px;
    font-weight:bold;
    color:#0e1830;
}
.nav-connect{
    display: flex;
    align-items: center;
    justify-content:space-between;
    align-items: center;
    width: 130px;
    height:100%;
    line-height: 26px;
    font-size:24px;
    color:#caced0;
    position: relative;
}
.nav-connect:first-child {
    display: inline-block;
}    
.nav-link-search{
    font-weight: bold;
    position: relative;
}    
.change-language{
    color:#000;
    font-size: 16px;
}
.nav-list:hover{
    cursor: pointer;
    color:#fc7321;
}
/* introducsion */
.nav-introduction{
    width:310px;
    background-color: #fff;
    position: absolute;
    top:100%;
    left: 0;
    border: 1px solit ;
    padding: 13px 30px;
    border-radius: 0 0 8px 8px;
    border:1px solid #f1f1f3;
    display:none;
}
.nav-introduction::before{
    content:"";
    border: 2px solid #FC7320;
    border-left-width:100px;
    position: absolute;
    left: 12px;
    top:-5px;
}

.nav-introduction-list{
    list-style: none;
    color:#000;
}
.introduction-list{
    font-size: 16px;
    color:#515769;
    font-weight:530;
    margin:15px 0;
}
.introduction-list:hover{
    text-decoration:underline;
    color:#000;
}
.single-nav-list-introduction:hover .nav-introduction{
    display:block;
    transform-origin: calc(100% - 20px) left;
    animation: headerNotice ease 0.2s;
}
.single-nav-list-ecosystem:hover .nav-introduction{
    transform-origin: calc(100% - 20px) left;
    animation: headerNotice ease 0.2s;
    display:block;
}
.single-nav-list-invertor:hover .nav-introduction{
    transform-origin: calc(100% - 20px) left;
    animation: headerNotice ease 0.2s;
    display:block;
}
.single-nav-list-noti:hover .nav-introduction{
    transform-origin: calc(100% - 20px) left;
    animation: headerNotice ease 0.2s;
    display:block;
}
.nav-connect-show{
    width:600px;
    padding: 20px 20px 36px 20px;
    position: absolute;
    right:calc(100% - 56px);
    top:100%;
    border-radius: 4px;
    box-shadow: 0 5px 30px rgba(10, 4, 60, .05);
    animation: headerNotice ease 0.2s;
}
.nav-connect-hidden{
    z-index: 1;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom:14px ;
    border-bottom:1px solid #e1e1e1;
    width:100%;
}
.nav-link-search{
    margin-right: 20px;
}
.input-search{
    outline: none;
    padding: 1px 2px;
    height:28px;
    flex: 1;
    border-radius: 3px;
    font-size:18px;
}
.nav-link-search:hover{
    cursor: pointer;
    color:#fc7321;
}
/* change language */
.change-lang{
    display: flex;
}
.change-language{
    font-size:18px;
    text-align: center;
}
.change-lang:hover{
    color:#fc7321;
    cursor: pointer;

}

/* keyframe */
@keyframes headerNotice{
    from{
        transform:scale(0);
    }
    to{
        transform:scale(1)
}
}
    

