<div class="header">
    <div class="header-nav">
        <div class="menu">
            <i class='bx bx-menu'></i>
        </div>
        <div class="nav-logo">
            <a class="nav-link" href="#">
                <img class="nav-link-img" src="https://fpt.com/-/media/project/fpt-corporation/fpt/common/images/navigation/logo/fpt-logo.svg" alt="">
            </a>
        </div>
        <ul class="nav-list hide-on-mobile-tablet">
            <li class="single-nav-list single-nav-list-introduction">
                <a class="nav-link" href="">{{'about'|translate}}</a>
                <div class="nav-introduction">
                    <ul class="nav-introduction-list">
                        <li class="introduction-list">{{'Message1'|translate}}</li>
                        <li class="introduction-list">{{'Message2'|translate}}</li>
                        <li class="introduction-list">{{'Core values'|translate}}</li>
                        <li class="introduction-list">{{'History'|translate}}</li>
                        <li class="introduction-list">{{'Strategic vision'|translate}}</li>
                        <li class="introduction-list">{{'Active network'|translate}}</li>
                        <li class="introduction-list">{{'Leadership team'|translate}}</li>
                        <li class="introduction-list">{{'Social responsibility'|translate}}</li>
                        <li class="introduction-list">{{'Prize'|translate}}</li>
                        <li class="introduction-list">{{'Partners and customers'|translate}}</li>
                    </ul>
                </div>
            </li>
            <li class="single-nav-list single-nav-list-ecosystem">
                <a class="nav-link" href="">{{'info'|translate}}</a>
                <div class="nav-introduction">
                    <ul class="nav-introduction-list">
                        <li class="introduction-list">{{'Technology'|translate}}</li>
                        <li class="introduction-list">{{'Telecommunication'|translate}}</li>
                        <li class="introduction-list">{{'Education'|translate}}</li>
                        <li class="introduction-list">{{'Member company'|translate}}</li>
                    </ul>
                </div>
            </li>
            <li class="single-nav-list single-nav-list-invertor">
                <a class="nav-link" href="">{{'Investors'|translate}}</a>
                <div class="nav-introduction">
                    <ul class="nav-introduction-list">
                        <li class="introduction-list">{{'General Meeting of Shareholders'|translate}}</li>
                        <li class="introduction-list">{{'Information disclosure'|translate}}</li>
                        <li class="introduction-list">{{'Report'|translate}}</li>
                        <li class="introduction-list">{{'Stock information'|translate}}</li>
                        <li class="introduction-list">{{'Company manager'|translate}}</li>
                    </ul>
                </div>
            </li>
            <li class="single-nav-list single-nav-list-noti">
                <a class="nav-link" href="">{{'news'|translate}}</a>
                <div class="nav-introduction">
                    <ul class="nav-introduction-list">
                        <li class="introduction-list">{{'FPT News'|translate}}</li>
                        <li class="introduction-list">{{'Press Release'|translate}}</li>
                    </ul>
                </div>
            </li>
            <li class="single-nav-list">
                <a class="nav-link" href="">{{'oppotunity'|translate}}</a>
            </li>
        </ul>
        <ul class="nav-connect">
            <li (click)="toogleTag1()" class="nav-link nav-link-search hide-on-mobile-tablet " class="nav-list" >
                <i class='hide-on-mobile-tablet nav-link-search bx bx-search'></i>
            </li>
            <div *ngIf="showMe" class="nav-connect-show hide-on-mobile-tablet">
                <div class="nav-connect-hidden hide-on-mobile-tablet" >
                    <i class='nav-link-search bx bx-search'></i>
                    <input class="input-search" type="text" placeholder="Nhập để tìm kiếm">
                </div>
            </div>
            <div class="change-lang">
                <i class='bx bx-world'></i>
                <select (change)="changelang($event)" class="nav-link-language2 nav-link nav-list " class="nav-list" name="" id="">
                    <option  value="vn" class="change-language">VI</option>
                    <option  value="en" class="change-language">ENG</option>
                </select>
            </div>
        </ul>
    </div>
</div>
