<div class="grid wide">
    <div class="row">
        <div class="col l-4">
                <a class="achorfooter" href="">
                    <h1 class="infofpt">Về FPT</h1>
            </a>
            <ul class="infolist">
            <a class="achorfooter" href="">
                <li class="infolist--details">Thông điệp Chủ tịch HĐQT</li>
            </a>
            <a class="achorfooter" href="">
                <li class="infolist--details">Thông điệp Tổng giám đốc</li>
            </a>
            <a class="achorfooter" href="">
                <li class="infolist--details">Giá trị cốt lõi</li>
            </a>
            <a class="achorfooter" href="">
                <li class="infolist--details">Lịch sử</li>
            </a>
            <a class="achorfooter" href="">
                <li class="infolist--details">Tầm nhìn chiến lược</li>
            </a>
            <a class="achorfooter" href="">
                <li class="infolist--details">Mạng lưới hoạt động</li>
            </a>
            <a class="achorfooter" href="">
                <li class="infolist--details">Đội ngũ lãnh đạo</li>
            </a>
            <a class="achorfooter" href="">
                <li class="infolist--details">Trách nhiệm xã hội</li>
            </a>
            <a class="achorfooter" href="">
                <li class="infolist--details">Giải thưởng</li>
            </a>
            <a class="achorfooter" href="">
                <li class="infolist--details">Đối tác và khách hàng</li>
            </a>
            </ul>
        </div>
        <div class="col l-2">
            <a class="achorfooter" href="">
                <h1 class="infofpt">Hệ sinh thái FPT</h1>
            </a>
            <ul class="infolist">
                <a class="achorfooter" href="">
                    <li class="infolist--details">Công nghệT</li>
                </a>
                <a class="achorfooter" href="">
                    <li class="infolist--details">Viễn thông</li>
                </a>
                <a class="achorfooter" href="">
                    <li class="infolist--details">Giáo dục</li>
                </a>
                <a class="achorfooter" href="">
                    <li class="infolist--details">Công ty thành viên</li>
                </a>
               </ul>
        </div>
        <div class="col l-2">
            <a class="achorfooter" href="">
                <h1 class="infofpt">Nhà đầu tư</h1>
            </a>
            <ul class="infolist">
                <a class="achorfooter" href="">
                    <li class="infolist--details">Đại hội đồng cổ đông</li>
                </a>
                <a class="achorfooter" href="">
                    <li class="infolist--details">Công bố thông tin</li>
                </a>
                <a class="achorfooter" href="">
                    <li class="infolist--details">Báo cáo</li>
                </a>
                <a class="achorfooter" href="">
                    <li class="infolist--details">Thông tin cổ phiếu</li>
                </a>
                <a class="achorfooter" href="">
                    <li class="infolist--details">Quản trị công ty</li>
                </a>
               </ul>
        </div>
        <div class="col l-2">
                <a class="achorfooter" href="">
                    <h1 class="infofpt">Tin tức</h1>
                </a>
            <ul class="infolist">
                <a class="achorfooter" href="">
                    <li class="infolist--details">Tin FPT</li>
                </a>
                <a class="achorfooter" href="">
                    <li class="infolist--details">Thông cáo báo chí</li>
                </a>
            </ul>
        </div>
        <div class="col l-2">
                <a class="achorfooter" href="">
                <h1 class="infofpt">Cơ hội nghề nghiệp</h1>
                </a>
        </div>
    </div>
</div>
