<div class="siler">
    <div class="background-slider">
        <span (click)="clickbtnleft()" class="arrowleft">
            <i class='bx bx-left-arrow'></i>
        </span>
        <div class="divslider">
            <div class="slidercontainer">
                <a href="">
                    <img class="imgslider" src="https://fpt.com/-/media/project/fpt-corporation/fpt/news/2024/04/fpt-dai-hoi-dong-co-dong-2024_01.jpg" alt="">
                </a>
                <a href="">
                    <img class="imgslider" src="https://fpt.com/-/media/project/fpt-corporation/fpt/news/2024/04/mou-fpt-nvidia.jpg" alt="">
                </a>
                <a href="">
                    <img class="imgslider" src="https://fpt.com/-/media/project/fpt-corporation/fpt/news/2024/04/thi-truong-nuoc-ngoai-tiep-tuc-tang-truong-manh.jpg" alt="">
                </a>
                <a href="">
                    <img class="imgslider" src="https://fpt.com/-/media/project/fpt-corporation/fpt/home/banner/bao-cao-thuong-nien/banner-web-fpt.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="paracontainer">
            <div class="paragrab">
                <div class="paragrabdetails">
                    <div class="paralisst">
                        <div class="headerintroduction">2024, FPT đặt mục tiêu tăng trưởng 17,5% về doanh thu và 18,2% về lợi nhuận</div>
                        <div class="paragrabintroduction">Năm 2024, FPT đặt mục tiêu tăng trưởng 17,5% về doanh thu và 18,2% về lợi nhuận trước thuế. Về chính sách chi trả cổ tức, năm 2024, FPT sẽ chia cổ tức 20% bằng tiền mặt, trong đó 10% đã trả trong năm 2023 và dự kiến trả 10% còn lại vào quý 2/2024; chia cổ tức bằng cổ phiếu với tỷ lệ 15%,</div>
                    </div>
                    <div class="btnpara">
                        <button class="btn">XEM THÊM</button>
                    </div>
                </div>
                <div class="paragrabdetails">
                    <div class="paralisst">
                        <div class="headerintroduction">FPT ký kết hợp tác toàn diện với NVIDIA phát triển hệ sinh thái giải pháp AI cho</div>
                        <div class="paragrabintroduction">Tập đoàn công nghệ toàn cầu FPT công bố hợp tác với NVIDIA để thúc đẩy phát triển Trí tuệ nhân tạo (AI) và điện toán đám mây trên toàn cầu.</div>
                    </div>
                    <div class="btnpara">
                        <button class="btn">XEM THÊM</button>
                    </div>
                </div>
                <div class="paragrabdetails">
                    <div class="paralisst">
                        <div class="headerintroduction">Doanh thu và lợi nhuận quý 1 của FPT vượt kế hoạch đề ra</div>
                        <div class="paragrabintroduction">Quý 1 năm 2024, FPT ghi nhận doanh thu 14.093 tỷ đồng, lợi nhuận trước thuế 2.534 tỷ đồng, lần lượt tăng 20,6% và 19,5% so với cùng kỳ năm ngoái, theo sát kế hoạch đã đề ra từ đầu năm. Lợi nhuận sau thuế cho cổ đông công ty mẹ đạt 1.798 tỷ đồng, tăng trưởng 20,4%</div>
                    </div>
                    <div class="btnpara">
                        <button class="btn">XEM THÊM</button>
                    </div>
                </div>
                <div class="paragrabdetails">
                    <div class="paralisst">
                        <div class="headerintroduction">FPT ra mắt Báo cáo ESG 2023</div>
                        <div class="paragrabintroduction">ESG tạo thêm sức mạnh để FPT phát huy giá trị cốt lõi tiếp tục thực hiện sứ mệnh Tập đoàn toàn cầu trường tồn và hạnh phúc. Định hướng và những ưu tiên về ESG được xem là một phần quan trọng trong chiến lược phát triển của FPT và phản ánh vai trò, trách nhiệm của Tập đoàn với các bên</div>
                    </div>
                    <div class="btnpara">
                        <button class="btn">XEM THÊM</button>
                    </div>
                </div>
            </div>
        </div>
        <span (click)="clickbtnright()" class="arrowright">
            <i class='bx bx-right-arrow'></i>
        </span>
        <div class="infostock">
            <i class='bx bx-down-arrow-alt'></i>
            <span>123,2</span>
        </div>
        <div class="social-network">
            <a href="">
                <i class='bx bxl-facebook'></i>
            </a>
            <a href="">
                <i class='bx bxl-youtube'></i>
            </a>
            <a href="">
                <i class='bx bxl-instagram'></i>
            </a>
        </div>
    </div>
   
</div>