<div class="grid wide section1">
    <div class="row">
        <div class="col l-4 m-12 describeintro">
            <h1 class="planintro">Tầm nhìn chiến lược</h1>
            <p class="paragrbintro">FPT tiếp tục theo đuổi mục tiêu lớn dài hạn trở thành doanh nghiệp số và đứng trong Top 50 Công ty hàng đầu thế giới về cung cấp dịch vụ, giải pháp chuyển đổi số toàn diện vào năm 2030. Để đạt được mục tiêu này, FPT xây dựng các chương trình hành động cân bằng, toàn diện ở cả ba khía cạnh.</p>
            <button class="btn">XEM THÊM</button>
        </div>
        <div class="col l-8">   
            <div class="row">
                <div class="col l-4 describe">
                    <img class="busiimg" src="https://fpt.com/-/media/project/fpt-corporation/fpt/home/our-mission/operative/kinh-doanh.svg" alt="">
                    <h1 class="business">Kinh doanh</h1>  
                    <p class="introbussines">Chúng tôi đầu tư, nghiên cứu phát triển các dịch vụ, giải pháp chuyển đổi số toàn diện đáp ứng nhu cầu của khách hàng ở mọi quy mô, lĩnh vực.</p>
                </div>
                <div class="col l-4 describe">
                    <img class="techimg" src="https://fpt.com/-/media/project/fpt-corporation/fpt/home/our-mission/forceful/cong-nghe.svg" alt="">
                    <h1 class="technology">Công nghệ</h1>
                    <p class="imtrotech">Chúng tôi luôn tiếp cận những xu hướng công nghệ mới nhất để phát triển các nền tảng, công nghệ lõi và gia tăng trải nghiệm khách hàng, hiệu quả vận hành.</p>
                </div>
                <div class="col l-4 describe">
                    <img class="peopleimg" src="https://fpt.com/-/media/project/fpt-corporation/fpt/home/our-mission/proficient/con-nguoi.svg" alt="">
                    <h1 class="people">Con người</h1>
                    <p class="intropeople">Chúng tôi cam kết xây dựng một môi trường làm việc công bằng, minh bạch, không phân biệt đối xử.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section2 -->
<div class="grid wide">
    <div class="row">
        <div class="col l-6">
            <img class="phototech" src="https://fpt.com/-/media/project/fpt-corporation/fpt/home/our-mission/common/fptfff7ef2x.png" alt="">
        </div>
        <div class="col l-6 madebycontai">
            <h1 class="madebyfpt">Made by FPT</h1>
            <p class="madebyintro">Dựa trên những công nghệ mới nhất, hệ sinh thái Made by FPT giúp doanh nghiệp, tổ chức trong mọi lĩnh vực đẩy nhanh quá trình chuyển đổi số, gia tăng năng suất, tiết kiệm chi phí, tận dụng tối đa nguồn lực để vượt qua các thách thức.</p>
            <button class="btn btn-viewvideo">
                <span class="btnview" >XEM VIDEO</span>
                <span><i class='bx bx-caret-right-circle'></i></span>
            </button>
        </div>
    </div>
</div>
<!-- section3 -->
<div class="grid wide">
    <div class="row">
        <div class="col l-12 m-12">
            <h1 class="overviewfpt">Hệ sinh thái FPT</h1>
            <p class="paragraboverview">FPT luôn khẳng định vị thế tiên phong trong các lĩnh vực Công nghệ, Viễn thông và Giáo dục. Đón đầu xu hướng công nghệ, thị trường, FPT tạo dựng Hệ sinh thái những dịch vụ, sản phẩm, giải pháp, nền tảng Made by FPT thúc đẩy sự phát triển, tăng trưởng bền vững của các tổ chức, doanh nghiệp cũng như mang đến những trải nghiệm mới, khác biệt cho người dùng.</p>
        </div>
        <div class="col l-6 ">
            <div class="fptecosystem1">
                <img class="imgecosystem" src="https://fpt.com/-/media/project/fpt-corporation/fpt/common/fpt/our-business/technology/cong-nghe_home.jpg" alt="">
                <div class="techecosystem">
                    <h1 class="labalecosystem">Công nghệ</h1>
                    <p class="paraecosystem">FPT là đối tác chiến lược quan trọng về tư vấn, đào tạo, triển khai chuyển đổi số của các tập đoàn, tổ chức hàng đầu trên thế giới và tại Việt Nam trong nhiều lĩnh vực.</p>
                    <button class="btn">XEM THÊM</button>
                </div>
            </div>
        </div>
        <div class="col l-6">
            <div class="fptecosystem1">
                <img class="imgecosystem" src="https://fpt.com/-/media/project/fpt-corporation/fpt/common/fpt/our-business/telecommunications/vien-thong_home.jpg" alt="">
                <div class="techecosystem">
                    <h1 class="labalecosystem">Viễn thông</h1>
                    <p class="paraecosystem">Chúng tôi không ngừng đầu tư, triển khai và tích hợp ngày càng nhiều các dịch vụ giá trị gia tăng trên cùng một đường truyền Internet và kiến tạo hệ sinh thái truyền thông số.</p>
                    <button class="btn">XEM THÊM</button>
                </div>
            </div>
        </div> <div class="col l-6">
            <div class="fptecosystem1">
                <img class="imgecosystem" src="https://fpt.com/-/media/project/fpt-corporation/fpt/common/fpt/our-business/education/giao-duc_home.jpg" alt="">
                <div class="techecosystem">
                    <h1 class="labalecosystem">Giáo dục</h1>
                    <p class="paraecosystem">Là thương hiệu giáo dục có tầm ảnh hưởng quốc tế, Tổ chức Giáo dục FPT đã mở rộng đầy đủ các cấp học góp phần cung cấp nguồn nhân lực chất lượng cao cho thị trường.</p>
                    <button class="btn">XEM THÊM</button>
                </div>
            </div>
        </div>
        <div class="col l-6">
            <div class="fptecosystem1">
                <img class="imgecosystem" src="https://fpt.com/-/media/project/fpt-corporation/fpt/common/fpt/our-business/membercompanies/fpt-tower-3.jpg" alt="">
                <div class="techecosystem">
                    <h1 class="labalecosystem">Công ty thành viên</h1>
                    <p class="paraecosystem">Công ty thành viên với các lĩnh vực kinh doanh đặc trưng là thành tố quan trọng cấu thành hệ sinh thái FPT, khẳng định sức mạnh tổng thể của FPT.</p>
                    <button class="btn">XEM THÊM</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section4 -->
<div class="rownews">
    <div class="grid wide ">
        <div class="row">
            <div class="col l-12">
                <div class="newscontainer">
                    <h1 class="hotnews">Tin tức nổi bật</h1>
                    <button class="btn">XEM THÊM</button>
            </div>
            <div class="newscontainr">
                <div class="col l-4 l-news1 m-12">
                    <div class="mainnews">
                        <img class="imgmainnews" src="https://fpt.com/-/media/project/fpt-corporation/fpt/news/2024/03/fdx1.jpg" alt="">
                        <div class="mainnews--parab">Hội Đồng Năng Lượng Thế Giới Trao Đổi Cơ Hội Hợp Tác Cùng FPT Digital</div>
                    </div>
                    <span class="newsdate">Tin FPT | 03/04/2024</span>
                </div>
                <div class="col l-4 l-news2 m-12">
                    <div class="mainnews ">
                        <img class="imgmainnews" src="https://fpt.com/-/media/project/fpt-corporation/fpt/news/2024/03/tin-3-4.jpg" alt="">
                        <div class="mainnews--parab">Chủ Tịch Vinasa Nguyễn Văn Khoa: ' Việt Nam Được Chọn Để Tham Gia Hệ Sinh Thái Bán Dẫn...</div>
                    </div>
                    <span class="newsdate">Tin FPT | 29/03/2024</span>
                </div>
                <div class="col l-4 l-news3 m-12">
                    <div class="mainnew">
                        <img class="imgmainnews" src="https://fpt.com/-/media/project/fpt-corporation/fpt/news/2024/03/giai-phap-san-xuat-thong-minh-cua-fpt-software.jpg" alt="">
                        <div class="mainnews--parab">FPT Software Lần Đầu Tiên Lọt Vào Báo Cáo Xếp Hạng Uy Tín Với Giải Pháp Vận Hành Nhà...</div>
                    </div>
                    <span class="newsdate">Tin FPT | 26/03/2024</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section5 -->
<div class="grid wide discoverdevelop">
    <div class="row">
        <div class="col l-6">
            <h1 class="develop">Phát triển bền vững</h1>
            <p class="para">Định hướng và những ưu tiên về ESG được xem là một phần quan trọng trong chiến lược phát triển của FPT và phản ánh vai trò, trách nhiệm của Tập đoàn với các bên liên quan trọng yếu. Đồng thời, ESG tạo thêm sức mạnh để FPT phát huy giá trị cốt lõi tiếp tục thực hiện sứ mệnh Tập đoàn toàn cầu trường tồn và hạnh phúc.</p>
            <button class="btn">XEM THÊM</button>
        </div>
        <div class="col l-6">
            <img class="imgdevelop" src="https://fpt.com/-/media/project/fpt-corporation/fpt/cr/home/sustainable-development/img_sustainable.webp?iar=0&hash=7A4334A34AB2B13C60EE03CC0CD4C4BA" alt="">
        </div>
    </div>
</div>
<!-- section6 -->
<div class="investmain">
    <div class="grid wide">
        <div class="row">
            <div class="col l-6">
                <img class="imginvestment" src="https://fpt.com/-/media/project/fpt-corporation/fpt/cr/home/investors/investors.webp?iar=0&hash=2E9AE8F4E45FEBECD916D7A007A6C6CD" alt="">
            </div>
            <div class="col l-6 investcontainer">
                <h1 class="invest">Nhà đầu tư</h1>
                <p class="parabinvest">Cập nhật thông tin tài chính toàn diện và các báo cáo mới nhất để cùng FPT tăng trưởng bền vững</p>
                <div class="list1invest" >
                    <span>
                        <a href="">
                            <i class='bx bx-check-circle'></i>
                            <span class="mrinr1">Đại hội đồng cổ đông</span>
                        </a>
                    </span>
                    <span>
                        <a href="">
                            <i class='bx bx-check-circle'></i>
                            Báo cáo thường niên
                        </a>
                    </span>
                </div>
                <div class="list2invest">
                    <span>
                        <a href="">
                            <i class='bx bx-check-circle'></i>
                           <span class="mrinr2"> Báo cáo tài chính</span>
                        </a>
                    </span>
                    <span>
                        <a href="">
                            <i class='bx bx-check-circle'></i>
                            Kết quả kinh doanh
                        </a>
                    </span>
                </div>
                <button class="btn">XEM THÊM</button>
            </div>
        </div>
    </div>
</div>
<!-- section7 -->
<div class="grid wide">
    <div class="row">
        <div class="col l-8">
            <h1 class="joinwm">Tham gia cùng chúng tôi</h1>
            <p class="parabjoinwm">Cùng đồng hành kiến tạo tương lai.</p>
            <img class="imgjoinwm" src="https://fpt.com/-/media/project/fpt-corporation/fpt/home/list-items-section-image/join-width-us01.jpg" alt="">
        </div>
        <div class="col l-4">
            <img class="imgteam" src="https://fpt.com/-/media/project/fpt-corporation/fpt/home/list-items-section-image/join-width-us02.jpg" alt="">
            <div class="joinwfpt">
                <h1 class="joinwfpt--heading">Đồng hành cùng FPT?</h1>
                <p class="joinwfpt--p">Dù là sinh viên mới ra trường hay ứng viên đã có kinh nghiệm, chúng tôi luôn sẵn sàng tạo điều kiện để bạn phát triển tài năng toàn diện nhất. Hãy tìm hiểu thêm về các ngành nghề và cơ hội việc làm tại FPT.</p>
                <button class="btn btn-join">XEM THÊM</button>
            </div>
        </div>
    </div>
</div>
<!-- section8 -->
<div class="grid wide updateandsingin">
    <div class="row updatecontainer">
        <div class="col l-3">
            <h1 class="updateheading">Đăng ký và cập nhật</h1>
        </div>
        <div class="col l-6">
            <div class="checksearch">
                <input class="inputupdate" type="text" placeholder="Email của bạn">
                <button class="btn btn-signin">Đăng ký</button>
            </div>
        </div>
        <div class="col l-3">
            <div class="followus">Theo dõi chúng tôi</div>
            <div class="follownw">
                <a href="">
                    <i class='bx bxl-facebook-circle'></i>
                </a>
                <a href="">
                    <i class='bx bxl-instagram-alt' ></i>
                </a>
                <a href="">
                    <i class='bx bxl-youtube' ></i> 
                </a>
            </div>
        </div>
    </div>
</div>

